 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Poppins', sans-serif;
 }

 .navbar {
     background-color: rgb(255, 119, 0);
     padding: 10px 32px;
 }

 #navbarToggler {
     border: none;
     outline: none;
     box-shadow: none;
 }

 .offcanvas-header {
     justify-content: flex-end;
     padding: 1.5rem 1.5rem 0.5rem 1.5rem;
 }

 .meal-close {
     background: transparent;
     border: none;
     color: rgb(211, 84, 0);
     font-size: 1.5rem;
     cursor: pointer;
     padding: 0;
 }

 .offcanvas-body {
     padding: 0;
 }

 .category-list {
     list-style: none;
     padding: 0;
     margin: 0;
 }

 .category-list li {
     border-bottom: 1px solid #f0f0f0;
     margin: 0 1.5rem;
 }

 .category-list li a {
     display: block;
     padding: 0.8rem 0;
     color: #555;
     text-decoration: none;
     font-size: 0.9rem;
     font-family: sans-serif;
     transition: color 1s ease-in-out;
 }

 .category-list li a:hover {
     color: rgb(255, 119, 0);
 }


 .category-list li:last-child {
     border-bottom: none;
 }


 /* Banner */

 .banner {
     background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/images/background.jpg') no-repeat center center/cover;
     height: 550px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     color: white;
     padding: 32px;
 }

 .search-container {
     display: flex;
     gap: 10px;
     margin-bottom: 24px;
     width: 100%;
     max-width: 400px;
 }

 .search-input {
     border-radius: 30px;
     padding: 10px 25px;
     border: none;
     width: 100%;
     font-size: 16px;
 }

 .search-btn {
     background-color: rgb(255, 119, 0);
     border: 2px solid white;
     border-radius: 50%;
     width: 50px;
     height: 45px;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     transition: background-color 1.5s ease;

 }

 .search-btn i {
     transition: color 1.5s ease;
     color: white !important;
 }

 .search-btn:hover {
     background-color: white;
     border: 2px solid white;

 }

 .search-btn:hover i {
     color: rgb(255, 119, 0) !important;
 }

 .banner h2 {
     font-weight: 700;
     margin-bottom: 8px;
     font-size: 32px;
     letter-spacing: 0.5px;
 }

 .banner p {
     font-size: 16px;
     letter-spacing: 1.5px;
     font-weight: 500;
 }


 /* Vegetarian Section */
 .veg-section {
     background: #f4f4f4;
     border: 1px solid #e67e22;
     padding: 30px;
     margin: 40px 15px;
 }

 .veg-section h3 {
     color: #e67e22;
     font-size: 32px;
     font-weight: 700;
     margin-bottom: 12px;
 }

 .veg-section p {
     color: #666;
     line-height: 1.8;
     font-size: 15px;
 }



 /* Meals Section */
 .meals-section {
     background: white;
     padding: 60px 20px;
 }

 .meal-title {
     font-size: 32px;
     font-weight: 700;
     letter-spacing: 2px;
     color: #111;
 }

 .title-line {
     width: 70px;
     height: 4px;
     background: #e67e22;
     margin: 10px 0 25px;
 }

 .meal-card {
     background: #fff;
     border: 1px solid #ddd;
     border-radius: 8px;
     overflow: hidden;
     text-align: center;
     height: 100%;
     display: flex;
     flex-direction: column;
     transition: .3s;
     text-decoration: none;
 }


 .meal-card img {
     width: 100%;
     height: 200px;
     object-fit: cover;
     display: block;
     transition: transform 0.3s ease;
 }

 .meal-card:hover img {
     transform: scale(0.9);
 }

 .card-content {
    
    padding: 16px;
    height: 97px;
}

.recipe-origin {
    color: #888888;
    
    font-size: 13px;
    margin: 0 0 6px 0;
    letter-spacing: 0.5px;
}

.recipe-title {
    color: #222222;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}
.meal-card a {

  text-decoration: none;
}